

html {
  font-family: 'Abel', sans-serif;
}
    ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    background-color: #415258;
    font-size: 12px;
    width: 100%;
    float: left;
    position: relative;
}
    li, li a {
    padding: 10px 4px 10px 0 ;
    margin-left: 3px;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    width: 85px;
}
    img {
        padding: 10px;
    }
    .footer {
        padding: 10px;
    }
    @media only screen and (min-width: 768px) {
            /* For tablets: */
            .col-s-1 {width: 8.33%;}
            .col-s-2 {width: 16.66%;}
            .col-s-3 {width: 25%;}
            .col-s-4 {width: 33.33%;}
            .col-s-5 {width: 41.66%;}
            .col-s-6 {width: 50%;}
            .col-s-7 {width: 58.33%;}
            .col-s-8 {width: 66.66%;}
            .col-s-9 {width: 75%;}
            .col-s-10 {width: 83.33%;}
            .col-s-11 {width: 91.66%;}
            .col-s-12 {width: 100%;}
            .floatr {position: absolute; right: 20%;}
            .floatr1 {position: absolute; right: 10%;}
            .floatr2 {position: absolute; right: 0%;}
        }
    @media only screen and (min-width: 992px) {
            /* For desktop: */
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}
            .banner {background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);background-repeat: no-repeat;padding: 0;margin: 0;position: relative;width: 100%;height: 380px;background-size: 100% 100%;background-color: #c3c9d4;}
            .banner1 {position: absolute;top: 20%;color: white;left: 5%;padding: 0;margin: 0;line-height: 6px;}
            li a {text-decoration: none;color: black;padding: 0px 16px;display: block;background-color: white;text-align: center;}
            ul {background-color: white;}
            .background {background-color: #c3c9d4;height: 100%;padding-top:20px}
            .footer {background-color: rgb(207, 207, 207);height: 200px;}
    }